*.log
*.pot
*.pyc

db.sqlite3
.env

__pycache__/
venv/
djangoreact/djangoreact/settings.py
djangoreact/node_modules/
# Ignore migrations

# Ignore .lock files
*.lock

# Ignore PDF files
*.pdf

# Ignore Excel files
*.xlsx
djangoreact/frontend/package.json
node_modules/
