<!DOCTYPE html>
<html lang="en" style=>
  <head>
    {% load static %}
    <style>
      .indent{
        margin-left: 5px;
      }
    </style>
    <link rel="stylesheet" type="text/css" href='{% static 'test.css' %}?{% now "U" %}'>
    <link rel="shortcut icon" type="image/png" href='{% static 'favicon.ico' %}?{% now "U" %}'>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>MAPL Application Form</title>
  </head>
  <body>
    <div class="topnav" style="justify-content: left; background-color: #002E5D; padding-bottom: 1vw;">
      <a aria-label="home page" href="https://byu.edu" target="_blank" data-cms-ai="0" style="display: flex; justify-content: center; padding-top: 1vw; margin-left: 10px;">
          <img class="PageLogo-image" style="max-width:80%; "src="https://brightspotcdn.byu.edu/e4/0a/b679ee0a41d9b1675fc78cd03239/byu-logo-white-small.svg" alt="BYU">
          <div style="margin: 12px;"></div>
          <div class="mx-name-container15" style="margin-right: 10px; border-right: 1px solid rgb(0, 87, 184); height: 100%;"></div>
      </a>
      <div class="header-divider"></div>
      <div class="header">
          <a style="font-size:22px; text-align: left; text-decoration: none; color:#ffffff; padding-bottom: 3px; padding-top: 14px;" href="https://humanities.byu.edu" target="_blank" data-cms-ai="0">College of Humanities</a>
          <a style="font-size:28px; font-weight:500px; text-decoration: none; color:#ffffff; padding-top: 3px;" href="http://cls.byu.edu/" target="_blank" data-cms-ai="0">Center for Language Studies</a>
          <!-- <h2 style="color:red;">SITE DOWN FOR MAINTENANCE- Please check back tomorrow</h2> -->
      </div>
  </div>
  <div class="topnav" style="justify-content: center; background-color: #ffffff; padding-top: 20px;">
      <p style="width: 50%; display: flex !important; justify-content: center;"></p>
  </div>
    {% load crispy_forms_tags %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          {% block content %}
          <form method="post" id="test_ajax" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="outerbox">
                <h3>MAPL Application Overview</h3>
                <p>This online application information guides you through the steps required to apply to the MAPL Program</p>
                <p>You will be asked to provide the following:</p>
                <ul style="margin-bottom: 0px;">
                    <li>Demographic information, contact information including email address and phone numbers, test scores, recommendation information, educational background, and other pertinent information in order to fully assess the applicant's qualifications for program acceptance.</ll>
                    <li>You will need to complete a Statement of Purpose than can be completed online or uploaded as an attachment. Please review the application in its entirety prior to beginning the process in order to become familiar with all the steps.</li>
                </ul>
                <p>Once all application information is entered correctly and completely, your online application will be submitted to the MAPL Program Committee for their review. If any errors are found or if there is missing information, our office will contact you. We may also contact you for a personal interview as part of the admissions process.</p>
            </div>
            <div class="outerbox">
              <h3>Personal Information</h3>
              <p>First Name*</p>
              {{ form.firstname|as_crispy_field }}
              <p>Middle Name*</p>
              {{ form.middlename|as_crispy_field }}
              <p>Last Name*</p>
              {{ form.lastname|as_crispy_field }}
              <p>Email*</p>
              {{ form.email|as_crispy_field }}
            </div>

              <div class="outerbox">
                <h3>Other Information</h3>
                <p>Language</p>
                {{ form.language|as_crispy_field }}
                <p>BYU Student ID*</p>
                {{ form.byuid|as_crispy_field }}
                <p>Phone Number*</p>
                {{ form.phone|as_crispy_field }}
                <p>Major*</p>
                {{ form.major|as_crispy_field }}
              </div>
              <div class="outerbox">
                <h3>Domain Area</h3>
                <p>Please identify your professional language domain.  Note that this cannot be the target language.  Your domain should be an area outside of your study of language in which you will utilize your language skills at a professional level, i.e., government agencies, K-12 teaching, etc.</p>
                {{ form.domain_area|as_crispy_field }}
                <!-- hand response -->
                <!-- dont need heard about from field -->
              </div>
              <div class="outerbox">
                <h3>Undergraduate Degree Information</h3>
                <p><b>Please note: Your undergraduate degree coursework must be completed BEFORE participating in the overseas portion (5th year) of the program.</b></p>
                <p>Please explain when (the semester) you'll be ready to graduate with your undergraduate degree.</p>
                {{ form.graduation_semester|as_crispy_field }}
                <!-- hand response -->
                <p>Intended Semester of Entry*</p>
                {{ form.semester_of_entry|as_crispy_field }}
                <p>Academic Status*</p>
                {{ form.academic_status|as_crispy_field }}
                <p>GPA*</p>
                {{ form.gpa|as_crispy_field }}
              </div>
              <div class="outerbox">
                <h3>International Language Immersive Experience</h3>
                {{ form.location_of_experience|as_crispy_field }}
              </div>
              <div class="outerbox">
                <h3>Assessment Scores</h3>
                <p>Test scores are not required, but if you have taken any, please enter them below.</p>
                <div class="indent">OPI Score {{ form.opi_score|as_crispy_field }}</div>
                <div class="indent">OPI Date {{ form.opi_date|as_crispy_field }}</div>
                <div class="indent">WPT Score {{ form.wpt_score|as_crispy_field }}</div>
                <div class="indent">WPT Date {{ form.wpt_date|as_crispy_field }}</div>
                <div class="indent">BYU ALT {{ form.alt_score|as_crispy_field }}</div>
                <div class="indent">BYU ALT Date {{ form.alt_date|as_crispy_field }}</div>
                <div class="indent">BYU ART {{ form.art_score|as_crispy_field }}</div>
                <div class="indent">BYU ART Date {{ form.art_date|as_crispy_field }}</div>
                <h4 class="indent"><u>Other Language Test</u></h4>
                <p>Name</p>
                {{ form.other_test_name|as_crispy_field }}
                <p>Score</p>
                {{ form.other_test_score|as_crispy_field }}
                <p>Date Taken</p>
                {{ form.other_test_date|as_crispy_field }}
              </div>

              <div class="outerbox">
                <h3>Educational Background Other Than BYU</h3>
                <h4 class="indent"><u>Details</u></h4>
                <p>Institution</p>
                {{ form.institution_name|as_crispy_field }}
                <p>Location</p>
                {{ form.institution_location|as_crispy_field }}
                <p>From</p>
                {{ form.institution_from_date|as_crispy_field }}
                <p>To</p>
                {{ form.institution_to_date|as_crispy_field }}
                <div class="indent">Degree</div>
                {{ form.degree|as_crispy_field }}
                <p>Graduation Date</p>
                {{ form.graduation_date|as_crispy_field }}
                <p>Will you have all of your coursework for your Bachelor's degree completed before beginning the MAPL program?</p>
                {{ form.bachelors_completion|as_crispy_field }}
                <p>If no, please tell us about the coursework you need to finish.</p>
                {{ form.coursework_explanation|as_crispy_field }}
              </div>

              <div class="outerbox">
                <h3>References</h3>
                <p>Please enter the requested information for each individual who may be contacted as a reference on the applicant’s behalf for this application. Two references are required. One reference should be a language faculty member who can specifically address the applicant's language proficiency, as well as suitability for the purposes of the MAPL Program. The second reference should be from a professor or instructor in your domain area.</p>
                <h4 class="indent"><u>Recommender #1</u></h4>
                <p>Name</p>
                {{ form.recommender_name_1|as_crispy_field }}
                <p>Title</p>
                {{ form.recommender_title_1|as_crispy_field }}
                <p>Department/Institution</p>
                {{ form.recommender_institution_1|as_crispy_field }}
                <p>Email</p>
                {{ form.recommender_email_1|as_crispy_field }}
                <div class="indent">Phone</div>
                {{ form.recommender_phone_1|as_crispy_field }}

                <h4 class="indent"><u>Recommender #2</u></h4>
                <p>Name</p>
                {{ form.recommender_name_2|as_crispy_field }}
                <p>Title</p>
                {{ form.recommender_title_2|as_crispy_field }}
                <p>Department/Institution</p>
                {{ form.recommender_institution_2|as_crispy_field }}
                <p>Email</p>
                {{ form.recommender_email_2|as_crispy_field }}
                <p>Phone</p>
                {{ form.recommender_phone_2|as_crispy_field }}
              </div>

            <div class="outerbox">
              <h3>Statement of Purpose</h3>
                <p>The statement of purpose should include the applicant's academic and professional goals with respect to the MAPL program, their interest in target language related careers, level of language proficiency as well as the applicant's suitability to the purposes of the program.</p>
                {{ form.statement_of_purpose|as_crispy_field }}
            </div>

            <div class="outerbox">
              <h3>Sign and Submit Completed Form</h3>
                <p>This application is submitted for consideration to the Brigham Young University (BYU) Integrated BA/MA MAPL Program. These requirements are subject to negotiation with the MAPL Faculty Coordinator, but any variations in these requirements must be approved before my application status is determined. In order to best support your studies in the program, students should consult with the MAPL Faculty Coordinator when considering outside employment.</p>
                <p><b>By signing below, I acknowledge my commitment to the BYU MAPL Program and agree to abide by the terms outlined above.</b></p>
                <p>Please sign the application below and press the submit button to send your application for review. You will be contacted if the application is incomplete. You will be notified by email that you have or have not been accepted to the MAPL Program.</p>
                <p>Student Signature</p>
                  {{ form.student_signature|as_crispy_field }}
                <p>Date</p>
                  {{ form.student_date|as_crispy_field }}
            </div>

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <div>
              <button type="submit" class="btn btn-success" style="margin-bottom: 1vw;">
              <i id='loader' style='display:none' class="fa fa-circle-o-notch fa-spin">
                </i>Submit</button>
            </div>
        </form>
        {% endblock %}
      </div>
    </div>
  </div>
</body>